BasedOnStyle: LLVM
---
Language: Cpp
BreakBeforeBraces: Stroustrup
DerivePointerAlignment: false
PointerAlignment: Left
#IndentWidth: 4
AllowShortIfStatementsOnASingleLine: WithoutElse

# ---
# Language: Cpp
# IndentWidth: 8
# UseTab: Always
# BreakBeforeBraces: Linux
# AllowShortIfStatementsOnASingleLine: WithoutElse
# IndentCaseLabels: false
---
Language: JavaScript
ColumnLimit: 100
---
Language: Proto
DisableFormat: true
