BasedOnStyle: LLVM
---
# Language: Cpp
# BreakBeforeBraces: Stroustrup
# DerivePointerAlignment: false
# PointerAlignment: Left
# IndentWidth: 4
# AllowShortIfStatementsOnASingleLine: WithoutElse

# ---
Language: Cpp
IndentWidth: 8
UseTab: Never
BreakBeforeBraces: Linux
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
---
Language: Proto
DisableFormat: true
