# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

[*{.conf,.pl,.pm,.py}]
indent_size = 4

[*{.glsl,.go,.sh,.sql,.c}]
indent_style = tab

[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 4

[*.html]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false

; Python: PEP8 defines 4 spaces for indentation
[*.py]
indent_style = space
indent_size = 4
