.msmtprc
.mutt/
.muttrc
.offlineimaprc
.oh-my-zsh/
.ssh/
.urlview
.vim/bundle/auto-pairs/
.vim/bundle/ctrlp.vim/
.vim/bundle/jedi-vim/
.vim/bundle/python-mode/
.vim/bundle/rust.vim/
.vim/bundle/supertab/
.vim/bundle/tagbar/
.vim/bundle/tcomment_vim/
.vim/bundle/ultisnips/
.vim/bundle/vim-airline/
.vim/bundle/vim-colorschemes/
.vim/bundle/vim-fugitive/
.vim/bundle/vim-go/
.vim/bundle/vim-scala/
.vim/bundle/vim-snippets/
.vim/view/
